<div class='demo-app'>

  <div class='demo-app-sidebar'>

    <div class='demo-app-sidebar-section'>
      <h2>Dashboard</h2>
    </div>

    <div class='demo-app-sidebar-section'>
      <label>segments in hour:
        <select [ngModel]="slot"
                (ngModelChange)="setSlot($event)">
          <option *ngFor="let v of slotOptions" [ngValue]="v">{{ v }}</option>
        </select>
      </label>
    </div>

    <div class='demo-app-sidebar-section'>
      <label>
        toggle weekends
        <input
          type='checkbox'
          [checked]='calendarOptions().weekends'
          (change)='handleWeekendsToggle()'
        />
      </label>
    </div>

  </div> 

  <div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <!-- <b>{{ arg.timeText }}</b> -->
        <i class="truncate-1">{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>

</div>

<!-- preview -->
<ng-template #eventPopoverTpl let-$implicit>
  <mat-card class="event-popover">
    <div class="event-popover__header">
      <div class="event-popover__title truncate-1">{{ $implicit.event.title }}</div>

      <span class="spacer"></span>

      <!-- <div class="event-popover__actions"> -->
        <button mat-icon-button
                aria-label="Editar"
                matTooltip="Editar"
                (click)="onEditEvent($implicit); closeOverlay(); $event.stopPropagation()">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button
                aria-label="Cancelar"
                matTooltip="Cancelar"
                (click)="closeOverlay(); $event.stopPropagation()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    <!-- </div> -->

    <div class="event-popover__subtitle">
      <b>Fetcha & Hora:</b>
      @if ($implicit.event.allDay) {
        {{ $implicit.event.start | date:'dd MMM' }}
        @if ($implicit.event.end) {
          — {{ $implicit.event.end | date:'dd MMM' }}
        }
        (Todo el día)
      } @else {
        {{ $implicit.event.start | date:'dd MMM, HH:mm' }}
        @if ($implicit.event.end) {
          — {{ $implicit.event.end | date:'dd MMM, HH:mm' }}
        }
      }
    </div>

    <mat-card-content class="event-popover__content">
      <div *ngIf="$implicit.event.extendedProps?.location" class="truncate-2">
        <!-- <mat-icon inline>place</mat-icon> -->
         <b>Ubicación:</b>
        {{ $implicit.event.extendedProps.location }}
      </div>
      <p *ngIf="$implicit.event.extendedProps?.description" class="truncate-5 event-popover__can-wrap">
        <b>Descripción:</b>
        {{ $implicit.event.extendedProps.description }}
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
