<div class='demo-app'>

  <div class='demo-app-sidebar'>

    <div class='demo-app-sidebar-section'>
      <h2>Dashboard</h2>
    </div>

    <div class='demo-app-sidebar-section'>
      <label>segments in hour:
        <select [ngModel]="slot"
                (ngModelChange)="setSlot($event)">
          <option *ngFor="let v of slotOptions" [ngValue]="v">{{ v }}</option>
        </select>
      </label>
    </div>

    <div class='demo-app-sidebar-section'>
      <label>
        toggle weekends
        <input
          type='checkbox'
          [checked]='calendarOptions().weekends'
          (change)='handleWeekendsToggle()'
        />
      </label>
    </div>

  </div> 

  <div class='demo-app-main'>
    <full-calendar #fc *ngIf='calendarVisible()' [options]='calendarOptions()'>
      <ng-template #eventContent let-arg>
        <!-- <b>{{ arg.timeText }}</b> -->
        <i class="truncate-1">{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>

</div>

<!-- preview -->
<p-overlayPanel #op [showCloseIcon]="true"
                [dismissable]="true"
                [style]="{maxWidth:'480px'}"
                [appendTo]="'body'"
                (onHide)="selectedEvent = null">
  @if (selectedEvent?.event) {
    <div class="event-popover p-card p-component">
    
      <div class="event-popover__header">
        <div class="event-popover__title truncate-1">{{ selectedEvent?.event?.title }}</div>
        <span class="spacer"></span>

        <!-- p-button + иконки primeicons -->
        <button pButton type="button"
                pTooltip="Editar"
                icon="pi pi-pencil"
                (click)="onEditEvent(selectedEvent!)">
        </button>

        <button pButton type="button"
                pTooltip="Cancelar"
                icon="pi pi-times"
                (click)="op.hide()">
        </button>
      </div>


      <div class="event-popover__subtitle">
        <b>Fetcha & Hora:</b>
        @if (selectedEvent?.event?.allDay) {
          {{ selectedEvent?.event?.start | date:'dd MMM' }}
          @if (selectedEvent?.event?.end) {
            — {{ selectedEvent?.event?.end | date:'dd MMM' }}
          }
          (Todo el día)
        } @else {
          {{ selectedEvent?.event?.start | date:'dd MMM, HH:mm' }}
          @if (selectedEvent?.event?.end) {
            — {{ selectedEvent?.event?.end | date:'dd MMM, HH:mm' }}
          }
        }
      </div>

      <div class="event-popover__content">
        <div *ngIf="selectedEvent!.event.extendedProps['location']" class="truncate-2">
          <!-- <mat-icon inline>place</mat-icon> -->
          <b>Ubicación:</b>
          {{ selectedEvent!.event.extendedProps['location'] }}
        </div>
        <p *ngIf="selectedEvent!.event.extendedProps['description']" class="truncate-5 event-popover__can-wrap">
          <b>Descripción:</b>
          {{ selectedEvent!.event.extendedProps['description'] }}
        </p>
      </div>
    </div>
  }
</p-overlayPanel>


<app-new-event *ngIf="showDialog"
  [(visible)]="showDialog"
  [mode]="dialogMode"
  [data]="dialogData ?? { mode: dialogMode }"
  (saved)="onEventSaved($event)"
  (deleted)="onEventDeleted($event)"
  (closed)="onDialogClose()">
</app-new-event>