<div class="p-4">
  <div
    class="toolbar"
    style="
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.5rem;
    "
  >
    <button (click)="goPrev()">←</button>
    <button (click)="goToday()">Сегодня</button>
    <button (click)="goNext()">→</button>

    <select
      #viewSel (change)="changeView(viewSel.value)"
      style="margin-left: 0.5rem"
    >
      <option value="dayGridMonth">Месяц</option>
      <option value="timeGridWeek">Неделя</option>
      <option value="timeGridDay">День</option>
      <option value="listWeek">Список</option>
      <option value="multiMonthYear">Год (multi-month)</option>
    </select>
  </div>

  <full-calendar #fc [options]="calendarOptions()"> </full-calendar>
</div>
