@import '@angular/material/prebuilt-themes/indigo-pink.css';

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body {
  margin: 0;
  padding: 0;
}

/* панель лежит в Overlay, ширина задаётся на .cdk-overlay-pane */
.cdk-overlay-pane .mat-mdc-autocomplete-panel.time-panel {
  min-width: 200px;
}

/* перебиваем инлайн ширину, чтобы панель могла быть шире инпута */
.cdk-overlay-pane:has(.mat-mdc-autocomplete-panel.time-panel) {
  width: auto !important;      /* разрешаем шире инпута */
  min-width: 200px !important; /* базовый минимум */
}

/* чтобы строки не ломались */
.mat-mdc-autocomplete-panel.time-panel .mdc-list-item__primary-text {
  white-space: nowrap;
}

/* Универсально: позволяем контенту сжиматься */
.fc .fc-event-main-frame,
.fc .fc-event-main {
  display: flex;
  min-width: 0;
}

/* Элипсис на любом нашем узле внутри event-main (включая ng-template) */
.fc .fc-event-main > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  flex: 1 1 auto;
}

/* Специально для all-day/мульти-дня (blue bars в dayGrid) */
.fc .fc-h-event .fc-event-main {
  min-width: 0;
}
.fc .fc-h-event .fc-event-main > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Выделение часов */
.fc .fc-timegrid-slot[data-time$=":00:00"] .fc-timegrid-slot-label-cushion {
  font-weight: 700;
  background-color: rgb(128, 128, 128, 0.3);
}

.fc .fc-timegrid-slot-label-cushion { font-variant-numeric: tabular-nums; }