<p-dialog
  [(visible)]="visible"
  (visibleChange)="onInternalVisibleChange($event)"
  (onHide)="onInternalHide()"
  [modal]="true"
  [style]="{ width: '640px' }"
  [dismissableMask]="true"
  [closeOnEscape]="true"
  [draggable]="false"
  [appendTo]="'body'"
  [autoZIndex]="true"
  [baseZIndex]="1100"
  header="{{ data.mode === 'create' ? 'Nuevo evento' : 'Editar evento' }}"
  styleClass="event-dialog p-fluid"
>
  <form [formGroup]="form" class="p-0">
    <div class="grid formgrid g-3">
      <div class="field col-12 sm:col-6 fix-h">
        <label for="title" class="block mb-1">Título*</label>
        <input id="title" pInputText class="w-full" formControlName="title"
              [ngClass]="{'p-invalid': form.controls['title'].invalid
              && (form.controls['title'].touched)}" />
        <!-- разобраться с анимациями -->
        <!-- <p-floatLabel variant="in">
          <input id="title" pInputText formControlName="title" placeholder=" "
          [ngClass]="{'p-invalid': form.controls['title'].invalid
                && (form.controls['title'].touched)}" />
          <label for="title">Título*</label>
        </p-floatLabel> -->
        <small
          class="p-error"
          *ngIf="form.controls['title'].hasError('required')
                 && form.controls['title'].touched"
          >Campo obligatorio</small
        >
        <small
          class="p-error"
          *ngIf="form.controls['title'].hasError('maxlength')"
          >Máximo {{ TITLE_MAX }} caracteres</small
        >
      </div>

      <div class="field col-12 sm:col-6">
        <label for="location" class="block mb-1">Ubicación</label>
        <input

          id="location"
          pInputText
          class="w-full"
          formControlName="location"
          autocomplete="off"
        />
      </div>

      <div class="field col-12">
        <label for="description" class="block mb-1">Descripción</label>
        <textarea
          id="description"
          pInputTextarea
          rows="3"
          class="w-full"
          formControlName="description"
        ></textarea>
      </div>

      @if (data.isAdmin) {
        <div class="col-12">
          <div class="field grid g-3">
            <div class="col-12 sm:col-6 fix-h">
              <label for="dateStart" class="block mb-1">Fecha inicio*</label>
              <p-calendar
                id="dateStart"
                formControlName="dateStart"
                [readonlyInput]="true"
                [showIcon]="true"
                [touchUI]="true"
                [panelStyle]="{ minWidth: '300px', maxWidth: '420px', width: 'auto'  }"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy">
              </p-calendar>
              <small
                class="p-error"
                *ngIf="form.controls['dateStart'].hasError('required')
                      && form.controls['dateStart'].touched"
                >Campo obligatorio</small
              >
              <!-- <p-calendar
                id="dateStart"
                formControlName="dateStart"
                [readonlyInput]="true"
                [showIcon]="true"
                panelStyleClass="event-datepanel"
                [touchUI]="false"
                [monthNavigator]="true"          
                [yearNavigator]="true"
                [yearRange]="'2000:2035'"
                [numberOfMonths]="1" 
                [showButtonBar]="true"
                dateFormat="dd/mm/yy">
              </p-calendar> -->
            </div>

            <div class="field col-12 sm:col-6">
              <label for="dateEnd" class="block mb-1">Fecha fin</label>
              <p-calendar
                id="dateEnd"
                formControlName="dateEnd"
                [readonlyInput]="true"
                [showIcon]="true"
                [touchUI]="true"
                [panelStyle]="{ minWidth: '300px', maxWidth: '420px', width: 'auto'  }"
                [showButtonBar]="true"
                dateFormat="dd/mm/yy">
              </p-calendar>
            </div>
          </div>
        </div>

        <div class="col-12 sm:col-6 fix-h">
          <div class="flex align-items-center gap-2">
            <p-inputSwitch formControlName="allDay" (onChange)="onAllDayToggle()"></p-inputSwitch>
            <label class="m-0">Todo el día</label>
          </div>
          <div>
            <small class="p-error" *ngIf="form.hasError('range')">
              La fecha/hora de finalización debe ser posterior al inicio
            </small>
          </div>
        </div>

        @if (!form.value.allDay) {
          <div class="col-12 sm:col-6">
            <div class="grid g-3">
              <div class="field col-12 sm:col-6">
                <label for="timeStart" class="block mb-1">Hora de inicio</label>
                <p-dropdown
                  id="timeStart"
                  [options]="allTimes"
                  formControlName="timeStart"
                  appendTo="body"
                  [autoDisplayFirst]="false">
                  <ng-template let-opt pTemplate="item">
                    <div>{{ opt }}</div>
                  </ng-template>
                </p-dropdown>
              </div>

              <div class="field col-12 sm:col-6">
                <label for="timeEnd" class="block mb-1">Hora de fin</label>
                <p-dropdown
                  id="timeEnd"
                  [options]="endTimes()"
                  optionLabel="label"
                  optionValue="value"
                  formControlName="timeEnd"
                  appendTo="body"
                  [autoDisplayFirst]="false">
                  <ng-template let-opt pTemplate="item">
                    <div>{{ opt.label }}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
        }

        @if (data.mode === 'create') {
          <div class="col-12">
            <div class="flex align-items-center gap-2">
              <p-inputSwitch formControlName="isBlocker" ></p-inputSwitch>
              <label class="m-0">Bloquear</label>
            </div>
          </div>
        }
      }

    </div>
  </form>

  <ng-template pTemplate="footer">
      <p-button
        label="{{ data.mode === 'create' ? 'Crear' : 'Guardar' }}"
        [disabled]="form.invalid"
        (onClick)="onSubmit()"
      ></p-button>
      <p-button
        label="Cancelar"
        severity="secondary"
        (onClick)="close()"
      ></p-button>
      <p-button
        *ngIf="data.mode === 'edit'"
        label="Eliminar"
        severity="danger"
        (onClick)="remove()"
      ></p-button>
  </ng-template>
</p-dialog>
