<p-dialog [(visible)]="visible"
          [modal]="true"
          [style]="{width:'640px'}"
          [dismissableMask]="true"
          [closeOnEscape]="true"
          [draggable]="false"
          header="{{ data.mode === 'create' ? 'Nuevo evento' : 'Editar evento' }}">

  <!-- <div class="edit__title">
    <h2 mat-dialog-title>
      {{ data.mode === "create" ? "Nuevo evento" : "Editar evento" }}
    </h2>
    <button mat-icon-button
            aria-label="Cancelar"
            matTooltip="Cancelar"
            matTooltipPosition="left"
            (click)="close()"
            style="margin-right: 10px; margin-top: 5px;">
      <mat-icon>close</mat-icon>
    </button>
  </div> -->

  <mat-dialog-content [formGroup]="form" style="padding: 8px 24px">
    <div
      style="
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        align-items: start;
      "
    >
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" cdkFocusInitial />
        <mat-error *ngIf="form.controls['title'].hasError('required')">
          Campo obligatorio
        </mat-error>
        <mat-error *ngIf="form.controls['title'].hasError('maxlength')">
          Máximo {{ TITLE_MAX }} caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ubicación</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="grid-column: span 2">
        <mat-label>Descripción</mat-label>
        <textarea matInput rows="3" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" style="grid-column: span 2">
        <mat-label>Fecha</mat-label>
        <mat-date-range-input
          [rangePicker]="picker"
          [formGroup]="form"
          (click)="picker.open()"
          (focusin)="picker.open()"
        >
          <input matStartDate formControlName="dateStart" placeholder="Inicio" readonly/>
          <input matEndDate formControlName="dateEnd" placeholder="Fin" readonly/>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <div style="height: 78px">
        <mat-slide-toggle
          formControlName="allDay"
          (change)="onAllDayToggle()"
          style="white-space: nowrap"
        >
          Todo el día
        </mat-slide-toggle>
        <div
          *ngIf="form.hasError('range')"
          style="
            color: var(--mat-form-field-error-text-color, #f44336);
            font-size: 12px;
          "
        >
          La fecha/hora de finalización debe ser posterior al inicio
        </div>
      </div>

      <!-- Время (отключается для allDay) -->
      @if (!form.value.allDay) {
      <div style="display: flex; gap: 12px; align-items: center">

        <!-- Время начала -->
        <mat-form-field appearance="outline">
          <mat-label>Hora de inicio</mat-label>
          <input
            matInput
            formControlName="timeStart"
            [matAutocomplete]="autoStart"
            #startTrigger="matAutocompleteTrigger"
            (focus)="startTrigger.openPanel()"
            (click)="startTrigger.openPanel()"
          />
          <mat-autocomplete #autoStart="matAutocomplete">
            <mat-option *ngFor="let t of allTimes" [value]="t">{{ t }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Время окончания -->
        <mat-form-field appearance="outline">
          <mat-label>Hora de fin</mat-label>
          <input
            matInput
            formControlName="timeEnd"
            [matAutocomplete]="autoEnd"
            #endTrigger="matAutocompleteTrigger"
            (focus)="endTrigger.openPanel()"
            (click)="endTrigger.openPanel()"
          />
          <mat-autocomplete #autoEnd="matAutocomplete" class="time-panel">
            <mat-option *ngFor="let o of endTimes()" [value]="o.value" >
              {{ o.label }}
              <!-- {{ o.value }} -->
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      }
    </div>
  </mat-dialog-content>

  <!-- <mat-dialog-actions align="end" style="padding: 0 24px 12px 24px">
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      {{ data.mode === "create" ? "Crear" : "Guardar" }}
    </button>
    <button mat-flat-button color="accent" (click)="close()">Cancelar</button>
    <button
      *ngIf="data.mode === 'edit'"
      mat-flat-button
      color="warn"
      (click)="remove()"
    >
      Eliminar
    </button>
  </mat-dialog-actions> -->

  <ng-template pTemplate="footer">
    <p-button label="{{ data.mode === 'create' ? 'Crear' : 'Guardar' }}"
              [disabled]="form.invalid"
              (onClick)="onSubmit()"></p-button>
    <p-button label="Cancelar" severity="secondary" (onClick)="close()"></p-button>
    <p-button *ngIf="data.mode === 'edit'" label="Eliminar" severity="danger" (onClick)="remove()"></p-button>
  </ng-template>

</p-dialog>